---
import { SEO } from 'astro-seo';
import '../styles/global.css';
import { languages } from '../i18n/dictionary';

interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { title, description = 'Anna Zezulka', lang = 'en' } = Astro.props;

const langKeys = Object.keys(languages).join('|');
const langRegex = new RegExp(`^/(${langKeys})`);
const pathname = Astro.url.pathname;
const pathWithoutLang = pathname.replace(langRegex, '');
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: '/og-image.jpg',
        }
      }}
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    {
      Object.keys(languages).map((l) => (
        <link
          rel="alternate"
          hreflang={l}
          href={new URL(`/${l}${pathWithoutLang}`, Astro.site)}
        />
      ))
    }
    <link rel="alternate" hreflang="x-default" href={Astro.site} />
  </head>
  <body>
    <slot />
  </body>
</html>